* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, #373739, #3d0336);
  font-family: Helvetica, sans-serif;
  color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link{
  margin: 2rem;
}

a{
  color: black;
  font-size: 2rem;
  font-weight: 800;
}

.container {
  width: 350px;
  height: 500px;
  perspective: 800px;
}


/* ===============Rotation effect================== */
.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  display: grid;
    grid-template-columns: 300px;
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}


.back {
  transform: rotateY(180deg);
  justify-content: center;
  align-items: center;
}


#Wheel{
  animation-name: ckw;
  animation-duration: 15.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}
@keyframes ckw {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

#Ghost{
  animation-name: rta;
  animation-duration: 15.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}
@keyframes rta {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(45deg);
  }
  0%{
    transform: rotate(0deg);
  }
}

#EsfHead{
  animation: EsfHead ease-in-out 1.6s infinite alternate; 
  transform-box: fill-box; 
  transform-origin: center bottom;
}

@keyframes EsfHead
{
    0%{ transform:rotate(10deg); }
    100%{ transform:rotate(-10deg); }
}

#GhostHand{
  animation: GhostHand ease-in-out 0.6s infinite alternate; 
  transform-box: fill-box; 
  transform-origin: right top;
}

@keyframes GhostHand
{
    0%{ transform:rotate(10deg); }
    100%{ transform:rotate(-10deg); }
}

#anRightWing{
  animation: anRightWing ease-in-out 0.6s infinite alternate; 
  transform-box: fill-box; 
  transform-origin: left bottom;
}

@keyframes anRightWing
{
    0%{ transform:rotate(10deg); }
    100%{ transform:rotate(-10deg); }
}

#anLeftWing{
  animation: anLeftWing ease-in-out 0.6s infinite alternate; 
  transform-box: fill-box; 
  transform-origin: right bottom;
}

@keyframes anLeftWing
{
    0%{ transform:rotate(-10deg); }
    100%{ transform:rotate(10deg); }
}

#anLeftHand{
  animation: anLeftHand ease-in-out 0.8s infinite alternate; 
  transform-box: fill-box; 
  transform-origin: left top;
}
@keyframes anLeftHand
{
    0%{ transform:rotate(10deg); }
    100%{ transform:rotate(-10deg); }
}

#EagleTail{
  animation: EagleTail ease-in-out 0.2s infinite alternate; 
  transform-box: fill-box; 
  transform-origin: left top;
}
@keyframes EagleTail
{
    0%{ transform:rotate(10deg); }
    100%{ transform:rotate(-10deg); }
}

#rdWing{
  animation: rdWing ease-in-out 1.6s infinite alternate; 
  transform-box: fill-box; 
  transform-origin: left bottom;
}
@keyframes rdWing
{
    0%{ transform:rotate(10deg); }
    100%{ transform:rotate(-10deg); }
}

#cWing{
  animation: cWing ease-in-out 1.6s infinite alternate; 
  transform-box: fill-box; 
  transform-origin: right bottom;
}
@keyframes cWing
{
    0%{ transform:rotate(-10deg); }
    100%{ transform:rotate(10deg); }
}

#cEar{
  animation: cEar ease-in-out 0.2s infinite alternate; 
  transform-box: fill-box; 
  transform-origin: right top;
}
@keyframes cEar
{
    0%{ transform:rotate(-10deg); }
    100%{ transform:rotate(10deg); }
}

#StarBotR{
  animation: StarBotR ease-in-out 1s infinite alternate; 
  transform-box: fill-box; 
  transform-origin: center center;
}
@keyframes StarBotR
{
    0%{ transform:scale(0%); }
    100%{ transform:scale(100%); }
}

#StarBotL{
  animation: StarBotL ease-in-out 1s infinite alternate; 
  transform-box: fill-box; 
  transform-origin: center center;
}
@keyframes StarBotL
{
    0%{ transform:scale(100%); }
    100%{ transform:scale(0%); }
}

#StarUpL{
  animation: StarUpL ease-in-out 1s infinite alternate; 
  transform-box: fill-box; 
  transform-origin: center center;
}
@keyframes StarUpL
{
    0%{ transform:scale(0%); }
    100%{ transform:scale(100%); }
}

#StarUpR{
  animation: StarUpR ease-in-out 1s infinite alternate; 
  transform-box: fill-box; 
  transform-origin: center center;
  
}
@keyframes StarUpR
{
    0%{ transform:scale(100%); }
    100%{ transform:scale(0%); }
}

#rBottomSwirl{
  fill: transparent;
    stroke-width: 0.8;
    stroke-linejoin: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: rBottomSwirl .8s infinite linear;
}

@keyframes rBottomSwirl
{
    0%
    {
        stroke-dashoffset: 0;
    }
    40%
    {
        stroke-dashoffset: 100;
    }
    100%
    {
        stroke-dashoffset: 200;


}}
#lBottomSwirl{
  fill: transparent;
    stroke-width: 0.8;
    stroke-linejoin: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: rBottomSwirl .8s infinite linear;
}

@keyframes rBottomSwirl
{
    0%
    {
        stroke-dashoffset: 0;
    }
    40%
    {
        stroke-dashoffset: 100;
    }
    100%
    {
        stroke-dashoffset: 200;


}}
